<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"> <h3> Angular 8 Sample Code Project</h3>   <span class="sr-only">(current)</span></a>
        </li>
    
      </ul>
      <span class="navbar-text">
        <span>User Name : {{userName}}</span> <br>
        <span>{{today | date:'fullDate'}}</span>
      </span>
    </div>
  </nav>