<h4>{{name.length > 0? name +'  ' + 'currenlty logged In': ''}} </h4>
<div id="container">
    <div id="main" role="main">
    <div id="large">
      <div class="group">
        <img  [src]="mainImagePrefix+selectedImage.image" alt="Large Image" width="430" height="360" />
        <div class="details">
            <p><strong>Title</strong> {{selectedImage.title}}</p>
            <p><strong>Description</strong> {{selectedImage.description}}</p>
            <p><strong>Cost</strong> {{selectedImage.cost}}</p>
            <p><strong>ID #</strong> {{selectedImage.id}}</p>
            <p><strong>Thumbnail File</strong> {{selectedImage.thumbnail}}</p>
            <p><strong>Large Image File</strong> {{selectedImage.image}}</p>
        </div>
      </div>
    </div>
    <div class="thumbnails">      
      <div class="group">
        <a  title="7111" *ngFor="let item of thumbNailSnap;let i=index">
          <img [src]="imagePrefix+item?.thumbnail" [ngClass]="{'bgColor': i== currentIndex}" alt="NO Image Found" (click)="clickThumbnail(item,i)"width="145" height="121" />
        <span>{{item.image}}</span>
        </a>
        <span class="previous"  [ngClass]="{'disabled':leftDisabled}"  (click) ="previousImage()" title="Previous">Previous</span>
        <a  class="next" [ngClass]="{'disabled':rightDisabled}"  (click)="nextImages()" title="Next">Next</a>
      </div>
    </div>
    </div>
    <footer>
    <a title="child to parent data is passed" (click)="sendToParent('No PDF Available to Download, Please try later...')"> 'Click Here..!' Download PDF Instructions</a>
    </footer>
  </div> <!-- eo #container -->
