.bgColor {
	border-color: red !important;
	background: #a41d0f;
}
header {
	color: brown;
	box-shadow: 3px 2px 5px;
}
.navbar-dark .navbar-text {
    color: white;
    font-size: 14px;
    font-weight: 600;
}