<accordion>
   <accordion-group heading="Click Here .. ! "
                   [isOpen]="isFirstOpen">
                  
                   <form>
                    <div class="form-row">
                      <div class="col-md-3">
                          <h6> Please Enter your name</h6>
                        <input type="text" class="form-control" [(ngModel)] = "name" placeholder="Full Name" [ngModelOptions]="{standalone: true}">
                      </div>  
                      <div class="col-md-3">
                        {{info}}
                        </div>                 
                    </div>
                  </form>
  </accordion-group>
</accordion>
<app-content  [fromparent]=name (childToParent)="childToParent($event)"></app-content>

