/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #333;
	font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: center;
}
#main{
	background-color: lightgoldenrodyellow;
}
.bgColor {
    border-color: blue !important;
}
#container {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	margin: 40px auto;
	padding: 25px;
	min-height: 300px;
	width: 900px;
}


#large {
	margin: 25px auto;
	width: 700px;
}

#large img {
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
    box-shadow: 0px 0px 6px rgba(0,0,0,.3);
    border: 1px solid black;
	float: left;
}

.details {
    float: right;
    text-align: left;
    width: 250px;
    font-weight: 600;
    padding: 42px;
    color: blue;
}

.details p {
	border-top: 1px solid #ddd;
	font-size: 12px;
	margin: 0;
	padding: 7px 0;
}

.details strong {
	background: #555;
	color: #fff;
	font-size: 10px;
	font-weight: normal;
	padding: 2px 5px;
	text-transform: uppercase;
}

.thumbnails {
	border: 1px solid #ddd;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	margin: 0 auto;
	position: relative;
	padding: 10px 45px;
	width: 725px;
}

.thumbnails a {
	color: #777;
	float: left;
	margin: 0 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.thumbnails img {
	border: 5px solid transparent;
	display: block;
	margin: 0 0 5px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.thumbnails a:hover img {
	border-color:blue;
}

.thumbnails a:active img {
	border-color: #aaa;
}

.thumbnails .active img,
.thumbnails .active:hover img  {
	border-color: #a41d0f;
}

.thumbnails a span {
	background: #eee;
	-moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px;
	font-weight: bold;
	font-size: 12px;
	margin: 5px auto 0 auto;
	padding: 2px 15px;
}

.thumbnails a:hover span {
	background:blue;
}

.thumbnails a:active span {
	background: #aaa;
	color: #fff;
}

.thumbnails a.active span {
	background: #a41d0f;
	color: #fff;
}

.thumbnails .previous, 
.thumbnails .next {
	float: none;
    height: 24px;
    background-color: darkgreen;
	position: absolute;
	text-indent: -9999em;
	top: 64px;
	width: 24px;
}

.previous {
	background: url(./assets/images/previous.png) no-repeat 0 0;
	left: 10px;
}

.next {
	background: url(./assets/images/next.png) no-repeat 0 0;
	right: 10px;
}

.previous:hover, .next:hover {
	opacity: .6;
}

.previous:active, .next:active {
	opacity: 1;
}

.disabled {
	opacity: .2 !important;
}

footer {
	font-size: 12px;
	padding: 25px 0 0 0;
}

.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
.group { zoom: 1; }
